@use './../../common/variables' as var;
@use './../../common/extends' as *;
.header{
  padding: 24px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: var.$header-height;
  &__menu{
    ul{
      gap: 60px;
      @extend %height100;
    }
    li:last-child {
      a{
        @extend %default-border-radius;
        padding: 7px 19px 4px;
        background-color: var.$accent-color;
        border: 1px solid var.$accent-color;
        @extend %default-transition;

        &:hover {
          background-color: transparent;
        }

      }
    }
    a {
      color: var.$additional-color;
      font-size: var.$font-s;

    }
  }
}