@use './../../common/variables' as var;
@use './../../common/media-mixins' as mix;

@include mix.screen_lg {
  @media (max-width: var.$screen_lg){
    .header__menu a {
      color: var.$adaptive-color;
    }
  }
}

@include mix.screen_sm {
  @media (max-width: var.$screen_sm){
    .header__menu a {
      color: var.$adaptive2-color;
    }

    .header__menu ul {
      gap: 25px;
    }
  }
}
