@use './../../common/variables' as var;

.footer{
  height: 358px;
  padding-top: 109px;
  background-color: var.$additional3-color;

  .logo{
    gap: 30px;

    & p{
      width: 363px;

      font-size: var.$font-xxs;
      font-weight: var.$font-regular;
      font-style: normal;
      line-height: 1.2;
      color: var.$color-text-footer;
    }
  }

  &__menu{
    gap: 33px;

    ul{
      gap: 32px;

    }

    & a{
      font-size: var.$font-s;
      font-weight: var.$font-light;
      font-style: normal;
      color: var.$additional-color;
    }

    &_item{
      font-size: var.$font-xxs;
      font-weight: var.$font-regular;
      font-style: normal;
      line-height: 1.2;
      color: var.$color-text-footer;
    }

    &_contact-us{
      gap: 8px;
      align-items: flex-start;
      text-align: right;
      
    }


  }
}