@use './../../common/variables' as var;
.footer{
  background-color: var.$additional3-color;
  height: 358px;
  &__list {
    padding-top: 109px;
  }

  .logo{
    gap: 30px;
    & p{
      width: 363px;
      color: var.$color-text-footer;
      font-size: var.$font-xxs;
      font-style: normal;
      font-weight: var.$font-regular;
      line-height: 1.2;
    }
  }
  &__menu{
    ul{
      gap: 32px;

    }

    & a{
      color: var.$additional-color;
      font-size: var.$font-s;
      font-style: normal;
      font-weight: var.$font-light;
    }
    &_item{
      color: var.$color-text-footer;
      font-size: var.$font-xxs;
      font-style: normal;
      font-weight: var.$font-regular;
      line-height: 1.2;
    }
    &_contact-us{
      text-align: right;
      align-items: flex-end;
      gap: 8px;
    }


  }
}