@use './../../common/variables' as var;
@use './../../common/extends' as *;
@use './../../common/mixins' as mix;

.banner{
  @extend %terms;

  @include mix.bg-image('./../../assets/pictures/jpg/background-top.jpg');


  height: 100vh;
  min-height: 800px;
  padding-top: var.$header-height;

  .container{
    @extend %height100;

    position: relative;

    &::after{
      $height: 140;

      @include mix.bg-image('./../../assets/pictures/svg/dot.svg');

      content: '';

      position: absolute;
      right: 0;
      bottom: - ($height / 2) + px;

      display: block;

      width: 360px;
      height: $height + px;
    }
  }

  &__content{
    @extend %height100;

    align-items: start;
    justify-content: center;
  }

  h1{
    max-width: 661px;
    margin-bottom: 80px;

    font-size: var.$font-xxl;
    font-weight: var.$font-medium;
    color: var.$additional-color;
  }

  &__test{
    margin-bottom: 40px;
  }

}