.banner{
  height: 100vh;
  @include bg-image('./../../assets/pictures/background_top.jpg');
  padding-top: $header-height;
  @extend %terms;
  .container{
    @extend %height100;
    position: relative;

    &:after{
      $height: 140;
      content: '';
      display: block;
      width: 360px;
      @include bg-image('./../../assets/pictures/Dot.svg');
      position: absolute;
      height: $height + px;
      bottom: - ($height / 2) + px;
      right: 0;
    }
  }
  &__content{
    @extend %height100;
  }

  h1{
    max-width: 570px;
    font-size: $font-xxl;
    font-weight: $font-medium;
    color: $additional-color;
    margin-bottom: 80px;
  }
  &__test{
    margin-bottom: 40px;
  }

}