@use './../../common/variables' as var;

.schedule{
  padding: 135px 0;

  &__content{
    gap: 40px;
  }

  &__text{
    gap: 55px;
    max-width: 35%;
  }

  &__classification{
    gap: 30px;

    &-content :last-child{
      border-bottom: none;
    }
  }

  &__data{
    gap:21px;
    margin-bottom: 13px;
    border-bottom: 1px solid rgb(0 0 0 / 30%);

    &_numbers{
      font-weight: var.$font-medium;
    }

    &_text{
      font-size: var.$font-s;
      font-weight: var.$font-regular;
    }
  }
}