@use './../../common/variables' as var;
@use './../../common/media-mixins' as mix;


@include mix.screen_lg {
  @media (max-width: var.$screen_lg){
    .schedule__content {
      flex-direction: column;
      align-items: center;
    }
    .schedule__text {
      max-width: 100%;
      text-align: justify;

      h2 {
       text-align: center;
      }
    }
  }
}

@include mix.screen_md {
  @media (max-width: var.$screen_md) {
    body{
      font-size: 16px;
    }
    
    h2 {
      font-size: 30px;
    }

    .schedule__text{
      gap: 30px;
    }
  }
}

@include mix.screen_sm {
  @media (max-width: var.$screen_sm) {
    .schedule {
      padding: 100px 0;

      &__img {
        max-width: 80%;
      }
    }

  }
}