*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header__menu li:last-child a, a {
  transition: 0.3s;
}

.header__menu li:last-child a {
  border-radius: 5px;
}

.banner .container::after, .banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner__content, .banner .container, .header__menu ul {
  height: 100%;
}

.how-it-works form, .banner form {
  display: flex;
  gap: 10px;
  max-width: 500px;
}
.how-it-works form label, .banner form label {
  font-size: 14px;
  font-weight: 300;
  color: #FFF;
}

.header__menu li:last-child a, a {
  transition: 0.3s;
}

.header__menu li:last-child a {
  border-radius: 5px;
}

.banner .container::after, .banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner__content, .banner .container, .header__menu ul {
  height: 100%;
}

.how-it-works form, .banner form {
  display: flex;
  gap: 10px;
  max-width: 500px;
}

.how-it-works form label, .banner form label {
  font-size: 14px;
  font-weight: 300;
  color: #FFF;
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/Poppins-SemiBold.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("assets/fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Poppins-SemiBold.woff2") format("woff2"), url("assets/fonts/Poppins-SemiBold.woff") format("woff"), url("assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./../../assets/fonts/Poppins-Medium.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"), url("./../../assets/fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("./../../assets/fonts/Poppins-Medium.woff2") format("woff2"), url("./../../assets/fonts/Poppins-Medium.woff") format("woff"), url("./../../assets/fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Poppins;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("./../../assets/fonts/Poppins-Light.eot");
  src: local("Poppins Light"), local("Poppins-Light"), url("./../../assets/fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("./../../assets/fonts/Poppins-Light.woff2") format("woff2"), url("./../../assets/fonts/Poppins-Light.woff") format("woff"), url("./../../assets/fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: Poppins;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("./../../assets/fonts/Poppins-Regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"), url("./../../assets/fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("./../../assets/fonts/Poppins-Regular.woff2") format("woff2"), url("./../../assets/fonts/Poppins-Regular.woff") format("woff"), url("./../../assets/fonts/Poppins-Regular.ttf") format("truetype");
}
.header__menu li:last-child a, a {
  transition: 0.3s;
}

.header__menu li:last-child a {
  border-radius: 5px;
}

.banner .container::after, .banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner__content, .banner .container, .header__menu ul {
  height: 100%;
}

.how-it-works form, .banner form {
  display: flex;
  gap: 10px;
  max-width: 500px;
}

.how-it-works form label, .banner form label {
  font-size: 14px;
  font-weight: 300;
  color: #FFF;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.7);
}
body .page__privacy {
  background-color: #F4F4FA;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

h2 {
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  color: #000;
}

a {
  display: inline-block;
  text-decoration: none;
}
a.default:hover {
  color: #2EACF3;
}
a.blue {
  color: #2EACF3;
}
a.blue:hover {
  color: blue;
}
a.black {
  color: #000;
}

.btn {
  padding: 14px 61px;
  color: #FFF;
  background-color: #2EACF3;
  border: 2px solid #2EACF3;
  border-radius: 5px 27px;
}
.btn:hover {
  background-color: steelblue;
  border-color: #2EACF3;
}

a, .header__menu li:last-child a {
  transition: 0.3s;
}

.header__menu li:last-child a {
  border-radius: 5px;
}

.banner .container::after, .banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner__content, .banner .container, .header__menu ul {
  height: 100%;
}

.how-it-works form, .banner form {
  display: flex;
  gap: 10px;
  max-width: 500px;
}

.how-it-works form label, .banner form label {
  font-size: 14px;
  font-weight: 300;
  color: #FFF;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 85px;
  padding: 24px 0;
}
.header.text-dark .header__menu a {
  color: #000;
}
.header__menu ul {
  gap: 60px;
}
.header__menu li:last-child a {
  padding: 7px 19px 4px;
  background-color: #2EACF3;
  border: 1px solid #2EACF3;
}
.header__menu li:last-child a:hover {
  background-color: transparent;
}
.header__menu a {
  font-size: 16px;
  color: #FFF;
}

@media (max-width: 992px) and (max-width: 992px) {
  .header__menu a {
    color: blanchedalmond;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .header__menu a {
    color: lightpink;
  }
  .header__menu ul {
    gap: 20px;
  }
  .header .logo {
    width: 160px;
  }
}
@media (max-width: 480px) and (max-width: 480px) {
  .header__content {
    flex-wrap: wrap;
  }
  .header__menu ul {
    gap: 15px;
  }
  .header .logo {
    width: 160px;
  }
}
a, .header__menu li:last-child a {
  transition: 0.3s;
}

.header__menu li:last-child a {
  border-radius: 5px;
}

.banner, .banner .container::after {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__menu ul, .banner .container, .banner__content {
  height: 100%;
}

.how-it-works form, .banner form {
  display: flex;
  gap: 10px;
  max-width: 500px;
}

.how-it-works form label, .banner form label {
  font-size: 14px;
  font-weight: 300;
  color: #FFF;
}

.banner {
  background-image: url("./../../assets/pictures/jpg/background-top.jpg");
  height: 100vh;
  min-height: 800px;
  padding-top: 85px;
}
.banner .container {
  position: relative;
}
.banner .container::after {
  background-image: url("./../../assets/pictures/svg/dot.svg");
  content: "";
  position: absolute;
  right: 0;
  bottom: -70px;
  display: block;
  width: 360px;
  height: 140px;
}
.banner__content {
  align-items: start;
  justify-content: center;
}
.banner h1 {
  max-width: 661px;
  margin-bottom: 80px;
  font-size: 70px;
  font-weight: 500;
  color: #FFF;
}
.banner__test {
  margin-bottom: 40px;
}

@media (max-width: 992px) and (max-width: 992px) {
  .banner h1, .btn {
    color: blanchedalmond;
  }
  label#adaptive-el {
    width: 360px;
    color: blanchedalmond;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .banner h1 {
    max-width: 435px;
    font-size: 45px;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .banner h1, .btn {
    color: lightpink;
  }
  label#adaptive-el {
    width: 360px;
    color: lightpink;
  }
  .banner h1 {
    max-width: 435px;
    font-size: 35px;
  }
}
.schedule {
  padding: 135px 0;
}
.schedule__content {
  gap: 40px;
}
.schedule__text {
  gap: 55px;
  max-width: 35%;
}
.schedule__classification {
  gap: 30px;
}
.schedule__classification-content :last-child {
  border-bottom: none;
}
.schedule__data {
  gap: 21px;
  margin-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.schedule__data_numbers {
  font-weight: 500;
}
.schedule__data_text {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 992px) and (max-width: 992px) {
  .schedule__content {
    flex-direction: column;
    align-items: center;
  }
  .schedule__text {
    max-width: 100%;
    text-align: justify;
  }
  .schedule__text h2 {
    text-align: center;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  h2 {
    font-size: 30px;
  }
  .schedule__text {
    gap: 30px;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .schedule {
    padding: 100px 0;
  }
  .schedule__img {
    max-width: 80%;
  }
}
a, .header__menu li:last-child a {
  transition: 0.3s;
}

.header__menu li:last-child a {
  border-radius: 5px;
}

.banner, .banner .container::after {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__menu ul, .banner .container, .banner__content {
  height: 100%;
}

.banner form, .how-it-works form {
  display: flex;
  gap: 10px;
  max-width: 500px;
}

.banner form label, .how-it-works form label {
  font-size: 14px;
  font-weight: 300;
  color: #FFF;
}

.how-it-works {
  padding: 135px 0;
  background-color: #F4F4FA;
}
.how-it-works__content h2 {
  margin-bottom: 80px;
}
.how-it-works__functions {
  gap: 40px;
  margin-bottom: 77px;
}
.how-it-works__functions_paragraph {
  width: 363px;
  padding: 36px 65px 45px 30px;
  background-color: #FFF;
  border-radius: 5px 100px 5px 5px;
}
.how-it-works__functions_img {
  width: 66px;
  margin-bottom: 30px;
  padding: 16px;
  background: rgba(46, 172, 243, 0.5);
  border-radius: 5px;
}
.how-it-works h3 {
  margin-bottom: 15px;
}
.how-it-works__bottom {
  flex-direction: row-reverse;
  gap: 94px;
  align-items: flex-start;
}
.how-it-works__bottom form label {
  color: #000;
}

@media (max-width: 576px) and (max-width: 576px) {
  .how-it-works {
    padding: 100px 0;
  }
  .how-it-works__functions {
    flex-direction: column;
    align-items: center;
  }
  .how-it-works__content h2 {
    margin-bottom: 40px;
    text-align: center;
  }
  .how-it-works__bottom {
    flex-direction: column;
    align-items: center;
  }
}
.footer {
  padding: 109px 0;
  background-color: #343434;
}
.footer .logo {
  gap: 30px;
}
.footer .logo p {
  width: 363px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: #909090;
}
.footer__menu {
  gap: 33px;
}
.footer__menu ul {
  gap: 32px;
}
.footer__menu a {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  color: #FFF;
}
.footer__menu_item {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: #909090;
}
.footer__menu_contact-us {
  gap: 8px;
  align-items: flex-start;
  text-align: right;
}

@media (max-width: 767px) and (max-width: 767px) {
  .footer {
    padding: 50px 0;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .logo {
    width: 200px;
  }
  .logo p {
    max-width: 200px;
  }
  .footer__menu {
    gap: 20px;
  }
  .footer__menu ul {
    gap: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
