.header__menu li:last-child a {
  transition: 0.3s;
}

.header__menu li:last-child a {
  border-radius: 5px;
}

.banner .container::after, .banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner__content, .banner .container, .header__menu ul {
  height: 100%;
}

.how-it-works form, .banner form {
  display: flex;
  gap: 10px;
  max-width: 500px;
}

.how-it-works form label, .banner form label {
  font-size: 14px;
  font-weight: 300;
  color: #FFF;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 85px;
  padding: 24px 0;
}
.header.text-dark .header__menu a {
  color: #000;
}
.header__menu ul {
  gap: 60px;
}
.header__menu li:last-child a {
  padding: 7px 19px 4px;
  background-color: #2EACF3;
  border: 1px solid #2EACF3;
}
.header__menu li:last-child a:hover {
  background-color: transparent;
}
.header__menu a {
  font-size: 16px;
  color: #FFF;
}

.header__menu li:last-child a {
  transition: 0.3s;
}

.header__menu li:last-child a {
  border-radius: 5px;
}

.banner, .banner .container::after {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__menu ul, .banner .container, .banner__content {
  height: 100%;
}

.how-it-works form, .banner form {
  display: flex;
  gap: 10px;
  max-width: 500px;
}

.how-it-works form label, .banner form label {
  font-size: 14px;
  font-weight: 300;
  color: #FFF;
}

.banner {
  background-image: url("./../../assets/pictures/background_top.jpg");
  height: 100vh;
  padding-top: 85px;
}
.banner .container {
  position: relative;
}
.banner .container::after {
  background-image: url("./../../assets/pictures/Dot.svg");
  content: "";
  position: absolute;
  right: 0;
  bottom: -70px;
  display: block;
  width: 360px;
  height: 140px;
}
.banner h1 {
  max-width: 661px;
  margin-bottom: 80px;
  font-size: 70px;
  font-weight: 500;
  color: #FFF;
}
.banner__test {
  margin-bottom: 40px;
}

.schedule {
  padding: 135px 0;
}
.schedule__content {
  gap: 40px;
}
.schedule__text {
  width: 35%;
  gap: 55px;
}
.schedule__classification {
  gap: 30px;
}
.schedule__classification-content :last-child {
  border-bottom: none;
}
.schedule__data {
  gap: 21px;
  margin-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 13px;
}
.schedule__data_numbers {
  font-weight: 500;
}
.schedule__data_text {
  font-weight: 400;
  font-size: 16px;
}

.header__menu li:last-child a {
  transition: 0.3s;
}

.header__menu li:last-child a {
  border-radius: 5px;
}

.banner, .banner .container::after {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__menu ul, .banner .container, .banner__content {
  height: 100%;
}

.banner form, .how-it-works form {
  display: flex;
  gap: 10px;
  max-width: 500px;
}

.banner form label, .how-it-works form label {
  font-size: 14px;
  font-weight: 300;
  color: #FFF;
}

.how-it-works {
  padding: 135px 0;
  background-color: #F4F4FA;
}
.how-it-works__content h2 {
  margin-bottom: 80px;
}
.how-it-works__functions {
  gap: 40px;
  margin-bottom: 77px;
}
.how-it-works__functions_paragraph {
  width: 363px;
  border-radius: 5px 100px 5px 5px;
  background-color: #FFF;
  padding: 36px 65px 45px 30px;
}
.how-it-works__functions_img {
  width: 66px;
  border-radius: 5px;
  background: rgba(46, 172, 243, 0.5);
  padding: 16px;
  margin-bottom: 30px;
}
.how-it-works h3 {
  margin-bottom: 15px;
}
.how-it-works__bottom {
  align-items: flex-start;
  flex-direction: row-reverse;
}
.how-it-works__bottom form label {
  color: #000;
}

.footer {
  background-color: #343434;
  height: 358px;
}
.footer__list {
  padding-top: 109px;
}
.footer .logo {
  gap: 30px;
}
.footer .logo p {
  width: 363px;
  color: #909090;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.footer__menu ul {
  gap: 32px;
}
.footer__menu a {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.footer__menu_item {
  color: #909090;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.footer__menu_contact-us {
  text-align: right;
  align-items: flex-end;
  gap: 8px;
}

/*# sourceMappingURL=style.css.map */
